@tailwind base;
@tailwind components;
@tailwind utilities;

/* 가로 스크롤바 완전 제거용 클래스 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none;    /* Firefox */
}
