@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollbar-fix-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.scrollbar-fix-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
/* 스크롤바 숨기기 */
.scrollbar-fix-container {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-fix-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* 페이지 전체 여백 제거 */
html, body, #root {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
  overflow-x: hidden;
}
